@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Outfit:wght@300;500;800&display=swap');


.cabecalho{
  display: flex;
  justify-content: space-between;
  background-image: url('/img/img-cabecalho.png');
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 60rem;
}

.logoCabecalho{
  margin: 2rem 2rem;
}

.logoCabecalho h1{
  color: #0A2472;
  font-family: 'Outfit', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.logoCabecalho p{
  color: #0A2472;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-transform: uppercase;
}

.navLinks{
  display: flex;
  margin: 4rem 0rem;
  flex-wrap: nowrap;
  width: 40%;
}

.navLinks li{
  text-decoration: none;
  display: inline;
  color: #0A2472;
  font-weight: 300;
  font-family: 'Outfit', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  line-height: normal;
}

@media(max-width: 1020px){
  .logoCabecalho h1{
    font-size: 2rem;
  }

  .logoCabecalho p{
    font-size: 0.8rem;
  }

  .navLinks{
    width: 50%;
  }
  
}

@media(max-width: 850px){
  .navLinks{
    display: flex;
    margin: 4rem 0rem;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .navLinks li{
    font-size: 1rem;
  }
}