@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&family=Poppins:wght@200;400&display=swap');

.cadastroForm {
    background: linear-gradient(180deg, rgb(166, 225, 250) 0%, rgb(10, 36, 114) 100%);
    background-color: rgba(255, 255, 255, 1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.cadastroHeader{
    text-align: left;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}

.cadastroBack {
    background-color: rgb(166, 225, 250);
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cadastroContainer{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 90vw;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.cadastroTitle {
    color: #000000;
    margin: 0;
    padding: 0 30px;
}

.cadastroGroup{
    margin-bottom: 5px;
    width: 100%;
}

.cadastro {
    background-color: #0a2472;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    width: 100%;
}

.cadastroBotao{
    background-color: #0a2472;
    border-radius: 5px;
    width: 10vw;
    height: 10vh;
    margin: 0 auto;
    font-size: 5px;
}


@media (max-width: 768px) {
    .cadastroContainer {
        width: 100%;
        padding: 10px;
    }

    .cadastroGroup {
        margin-bottom: 10px;
    }

    .cadastro {
        margin-top: 15px;
        color: blue;
    }
    
    .cadastroTitle {
        padding: 0 10px;
    }

    .cadastroBack {
        padding: 10px 15px;
    }
}