@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&family=Poppins:wght@200;400&display=swap');


.clienteForm {
    background: linear-gradient(180deg, rgb(166, 225, 250) 0%, rgb(10, 36, 114) 100%);
    background-color: rgba(255, 255, 255, 1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.clienteHeader {
    text-align: left;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}

.clienteButton {
    background-color: rgb(166, 225, 250);
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.clienteContainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 90vw;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.clienteTitle {
    color: #000000;
    margin: 0;
    padding: 0 30px;
}

.clienteGroup{
    margin-bottom: 5px;
    width: 100%;
}

.clienteContinue {
    background-color: #0a2472;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    width: 100%;
}

.button[type="submit"] {
    background-color: #0a2472;
    color: #fff;
    border: none;
    margin-left: 50px;
    padding: 10px 90px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
@media (max-width: 768px) {
    .clienteContainer {
        width: 100%;
        padding: 10px;
    }

    .clienteGroup {
        margin-bottom: 10px;
    }

    .cclienteContinue {
        margin-top: 15px;
    }
    
    .clienteTitle {
        padding: 0 10px;
    }

    .clienteButton {
        padding: 10px 15px;
    }
}