.tituloSection {
  color: #0A2472;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Outfit', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.imgSeguros {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.imgSeguros img {
  width: 17rem;
  height: 28rem;
}

.titulosSeguros {
  display: flex;
  justify-content: space-evenly;
}

.pedalEssencial {
  text-align: center;
  background: #8D5E3F;
  width: 17rem;
}

.pedalEssencial h5 {
  color: #FFF;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.pedalEssencial p {
  color: #FFF;
  font-family: 'Outfit', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.pedalLeve {
  text-align: center;
  background: #EBEBEA;
  width: 17rem;
}

.pedalLeve h5 {
  color: #000;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.pedalLeve p {
  color: #000;
  font-family: 'Outfit', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.pedalElite {
  text-align: center;
  background: #D1C6C2;
  width: 17rem;
}

.pedalElite h5 {
  color: #0A2472;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.pedalElite p {
  color: #0A2472;
  font-family: 'Outfit', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.sobreHome {
  margin-top: 7rem;
  margin-bottom: 5rem;
  text-align: justify;
}

.sobreHome h1 {
  color: #0A2472;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-family: 'Outfit', sans-serif;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.sobreHome p {
  color: #0A2472;
  width: 87%;
  margin-left: 2rem;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 135.5%;
  /* 27.1px */
  text-transform: uppercase;
}

.botaoVistoria {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  align-items: center;
}

.botaoVistoria button {
  width: 30vw;
  height: 8vh;
  color: #D7D9D9;
  background-color: #0A2472;
}