/* Adicione este CSS no seu arquivo de estilos */

.tela-login{
    background: linear-gradient(180deg, rgb(166, 225, 250) 0%, rgb(10, 36, 114) 100%);
    background-color: rgba(255, 255, 255, 1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.cadastro {
    font-size: 25px;
    color: #0a2472;
}

.header-cadastro {
    text-align: center;
}

.form-login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 90vw;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 20px; /* Ajuste conforme necessário */
    margin: 0 auto;
  }
  
  .form-login fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .form-login legend {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-login label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 100%;
  }
  
  .form-login button {
    background-color: #0a2472;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
  }
  
  .login-sucesso {
    color: green;
  }
  
  .login-erro {
    color: red;
  }
  
  .login-none {
    display: none;
  }
  