.footerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.h4 {
    font-size: 20px;
    font-weight: 600;
    color: #0A2472;
}

.h5 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.column p {
    font-size: 14px;
    color: #555;
}

.redesSociais {
    display: flex;
    padding: 10px 0;
    text-align: center;
    justify-content: center;
}

.redesSociais li {
    margin-right: 10px;
}

.redesSociais a {
    text-decoration: none;
    color: #0A2472;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 5px;
}

.menu a {
    text-decoration: none;
    color: #0A2472;
}

.facebook {
    color: #1877f2;
}

.instagram {
    color: #bc2a8d;
}

.twitter {
    color: #1da1f2;
}

.blocoAzul {
    background-color: #0A2472;
    height: 25px;
}