@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    display: block;
    background-color: white;
}
a{
    width: 260px;
}
span{
    color: blue;
  }

input[type="text"],
input[type="file"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"]::-webkit-file-upload-button {
    padding: 10px 20px;
    background-color: #0a2472;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #0a2055;
}
@media (max-width: 600px) {

    input[type="text"],
    input[type="file"] {
        width: 100%;
    }
}